body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ea1f1f;
}
header {
    background-color: #333;
    color: #e41258;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: #350b0b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #5c10eb;
}
.project {
    margin-bottom: 20px;
}